/*
Add custom coloring to navbar and footer.
 */

.nav-custom{
  height: 52px;
  background: rgb(15, 31, 61);/*-webkit-linear-gradient(to right, #2240c4, #070000, #2240c4);*/
  /*background: linear-gradient(to right, #2240c4, #070000, #2240c4);*/
}

.logo{
  margin:7px;
}

.mcs{
  margin-left: 10px;
  height:45px;
  width: 330px;
}

.logo-container{
  background: rgb(240, 241, 245);
  padding: 7px 0px 14px 0px ;
  border-radius: 30px;
  height: 49px;
}

.dropdown-menu {
    background: #eceded;
}

.footer-text-custom {
    color: #7a9c97;
}
