/*
Add custom coloring to navbar and footer.
 */

.nav-custom{
  height: 50px;
  background: rgb(78, 106, 159);/*-webkit-linear-gradient(to right, #2240c4, #070000, #2240c4);*/
  /*background: linear-gradient(to right, #2240c4, #070000, #2240c4);*/
}

.logo{
  margin:7px;
}

.logo-container{
  background: rgb(240, 241, 245);
  padding: 8px 0px 14px 0px ;
  border-radius: 28px;
}

.dropdown-menu {
    background: #eceded;
}

.footer-text-custom {
    color: #7a9c97;
}
