{% extends 'base.html' %}

{% block content %}

<form action="{% url 'search_on_all_tasks' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-3"></div>
    <div class="col-sm">
      <ul class="list-group list-group-flush">
        <h3>All Tasks Available</h3>
        {% if all_tasks %}
          {% for task_element in all_tasks %}
            <li class="list-group-item d-flex justify-content-between">
              <p>{{ task_element.title }}</p>
              <p>Ends {{ task_element.end_date }}</p>
            </li>
          {% endfor %}
        {% else %}
            <li class="list-group-item">There are no task available at this time!</li>
        {% endif %}
      </ul>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
{% endblock %}
