{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-2"></div>
    <div class="col-sm">
      <form class="py-5" action="{% url 'search_on_all_tasks' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
      </form>
      <ul class="list-group list-group-flush ">
        <h3>All Tasks Available</h3>
        {% if all_tasks %}
          {% for task_element in all_tasks %}
            <li class="list-group-item d-flex justify-content-between px-0">
              <p class="w-25 mx-1">{{ task_element.title }}</p>
              <p class="w-25 mx-1">{{ task_element.ideal_participant }}</p>
              <p class="w-25 mx-1">${{ task_element.reward_amount }}</p>
              <p class="w-25 mx-1">Ends {{ task_element.end_date }}</p>
              <p class="w-25 mx-1">Created by {{ task_element.requester.name }}</p>
            </li>
          {% endfor %}
        {% else %}
            <li class="list-group-item">There are no task available at this time!</li>
        {% endif %}
      </ul>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
{% endblock %}
