{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-2"></div>
    <div class="col-sm">
      {% include "./search_bar.html" %}
      <ul class="list-group list-group-flush ">
        <h3>All Tasks Available</h3>
        {% if all_tasks %}
          {% include "./list.html" with tasks=all_tasks all_tags=all_tags_mapped %}
        {% else %}
            <li class="list-group-item">There are no tasks available at this time!</li>
        {% endif %}
      </ul>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
{% endblock %}
