{% extends 'base.html' %}

{% block content %}
{% if user.authorized_requester %}
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-2"></div>
      <div class="col-sm">
        <ul class="py-5 list-group list-group-flush">
          <h3>Completed Tasks</h3>
          {% if completed_tasks %}
            {% for task in completed_tasks %}
              <li class="list-group-item d-flex justify-content-between px-0">
                <p class="w-25 mx-1">{{ task.title }}</p>
                <p class="w-25 mx-1">{{ task.description }}</p>
                <p class="w-25 mx-1">$ {{ task.reward_amount }}</p>
                <p class="w-25 mx-1">Ends {{ task.end_date }}</p>
              </li>
            {% endfor %}
          {% else %}
              <li class="list-group-item">You have not completed any task yet!</li>
          {% endif %}
          </ul>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
{% else %}
<div class="container d-flex h-100">
  <div class="row m-auto">
    <p class="w-25 mx-1">You must login to view your completed tasks</p>
  </div>
</div>
{% endif %}
{% endblock %}
