{% extends 'base.html' %}

{% block content %}
{% if user.authorized_requester %}
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-3"></div>
      <div class="col-sm">
        <ul class="py-5 list-group list-group-flush">
          <h3>Completed Tasks</h3>
          {% if completed_tasks_participant %}
            {% for task_element in completed_tasks_participant %}
              <li class="list-group-item d-flex justify-content-between">
                <p>{{ task_element.task.title }}</p>
                <p>Ends {{ task_element.task.end_date }}</p>
              </li>
            {% endfor %}
          {% else %}
              <li class="list-group-item">You have not completed any tasks yet!</li>
          {% endif %}
          </ul>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
{% else %}
<div class="container d-flex h-100">
  <div class="row m-auto">
    <p>You must login to view your completed tasks</p>
  </div>
</div>
{% endif %}
{% endblock %}
