<style>
h3,h2,p,div {
    text-align: center;
}
</style>
{% extends 'base.html' %}
{% block content %}
     {% if user.is_authenticated %}
        <h2 class="display-4">{{ task.title }}</h2>
        <h3 >Description</h3>
        <p > {{ task.description }}</p>
        <h3>Participant qualifications:</h3>
        <p class="w-20 mx-1">{{ task.participant_qualifications }}</p>
        <h3>Reward amount:</h3>
        <p class="w-20 mx-1">${{ task.reward_amount }}</p>
        <h3>Ending at:</h3>
        <p class="w-20 mx-1">Ends {{ task.end_date }}</p>
        <h3>Created by:</h3>
        <p class="w-20 mx-1">Created by {{ task.requester.name }}</p>
        {% if not already_completed %}
                <a class="w-20 mx-1" href={{ task.link_to }} target="_blank"><button type="button" class="btn btn-dark">Complete Task</button></a><br>
        {% endif %}
    {% else %}
        <h2>You must be logged in to view the details of this job.</h2>
    {% endif %}
{% endblock %}
