<style>
h3,h2,p,div {
    text-align: center;
}
</style>
{% extends 'base.html' %}
{% block content %}
     {% if user.authorized_requester %}
        {% if task %}
              {% for field in task %}
                <h2 class="display-4">{{ field.title }}</h2>
                <h3 >Description</h3>
                <p > {{ field.description }}</p>
                <h3>Ideal participant:</h3>
                <p class="w-20 mx-1">{{ field.ideal_participant }}</p>
                <h3>Reward amount:</h3>
                <p class="w-20 mx-1">${{ field.reward_amount }}</p>
                <h3>Ending at:</h3>
                <p class="w-20 mx-1">Ends {{ field.end_date }}</p>
                <h3>Created by:</h3>
                <p class="w-20 mx-1">Created by {{ field.requester.name }}</p>
                <a class="w-20 mx-1" href={{ field.link_to }} target="_blank"><button type="button" class="btn btn-primary">Complete Task</button></a><br>
                {# Need to populate this page #}
              {% endfor %}
        {% else %}
        <h2>Shouldn't be here. Error!</h2>
        {% endif %}
    {% else %}
        <h2>You must be logged in to view the details of this job.</h2>
    {% endif %}
{% endblock %}