{% extends 'base.html' %}

{% block content %}
<div class="container d-flex h-100">
  <div class="row m-auto">
    <div class="col-sm">
      <div>
        {% for message in messages %}
          <div class="py-5 alert {{ message.tags }} text-center">{{ message }}</div>
        {% endfor %}
        <div class="py-5 row justify-content-center align-items-center h-100">
            <h2 class="text-center">You currently have ${{ user.reward_balance }} available to redeem</h2>
        </div>
            <h4>Note:</h4>
            <ul>
            <li>You must have a minimum balance of ${{ min_reward }}. </li>
            <li><b>IMPORTANT: </b>You must have a W-9 on file with the school. This should have been done before account registration.
                If you have not done this, log out and refer to instructions found at the bottom of the registration page for instructions
                on how to submit your W-9 form to to Controller's Office.</li>
            <li>It may take up to 3 weeks to process your compensations successfully.</li>
            <!-- <li>Click the "Redeem" button!</li> -->
            </ul>


        <form class="" action={% url 'redeem' %} method="post">
          {% csrf_token %}
          <input type="submit" class="d-block mx-auto my-3 btn btn-dark" name="redeem" value="Redeem"></input>
        </form>
        <!--
        <h2>{{ user.name }} Statistics</h2>
        <p>Total amount earned: </p>
        -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
