{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container d-flex h-100">
  <div class="row m-auto">
    <div class="col-sm">
      {% if user.authorized_requester%}
        {% for message in messages %}
          <div class="py-5 alert {{ message.tags }} text-center">{{ message }}</div>
        {% endfor %}
        {% if task.get_status_display == 'Pending' %}
          <h2>This task is still pending!</h2>
        {% elif approval_left %}
          <h2 class="text-center"> {{ task.title }} <h2>
          <form action="" method="post">
            {% csrf_token %}
            {{ form_approval|crispy }}
            <input type="submit" class="d-block mx-auto my-3 btn btn-dark" name="approve" value="Approve selected users"></input>
          </form>
        {% else %}
          <h2>You have no one left to approve on this task!</h2>
        {% endif %}
      {% else %}
        <h2>You must be an authorized requester in order to access this page.</h2>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
