{% extends 'base.html' %}

{% block content %}
{% if user.authorized_requester %}
<div class="container-fluid py-5">
  <div class="row justify-content-center">
    <div class="col-sm-2"></div>
    <div class="col-sm">
      <ul class="list-group list-group-flush">
        <h3>Pending tasks</h3>
        {% if pending %}
          {% for task in pending %}
            <li class="list-group-item d-flex justify-content-between px-0">
              <p class="w-25 mx-1">{{ task.title }}</p>
              <p class="w-25 mx-1">{{ task.ideal_participant }}</p>
              <p class="w-25 mx-1">$ {{ task.reward_amount }}</p>
              <p class="w-25 mx-1">Ends {{ task.end_date }}</p>
            </li>
          {% endfor %}
        {% else %}
            <li class="list-group-item">You currently have no pending tasks!</li>
        {% endif %}
      </ul>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-2"></div>
    <div class="col-sm">
      <ul class="list-group list-group-flush">
        <h3>Active tasks</h3>
        {% if active %}
          {% for task in active %}
          <li class="list-group-item d-flex justify-content-between">
            <p class="w-25 mx-1">{{ task.title }}</p>
            <p class="w-25 mx-1">{{ task.ideal_participant }}</p>
            <p class="w-25 mx-1">$ {{ task.reward_amount }}</p>
            <p class="w-25 mx-1">Ends {{ task.end_date }}</p>
          </li>
          {% endfor %}
        {% else %}
          <li class="list-group-item">You currently have no active ta!</li>
        {% endif %}
      </ul>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-2"></div>
    <div class="col-sm">
      <ul class="list-group list-group-flush">
        <h3>Completed tasks</h3>
        {% if completed %}
          {% for task in completed %}
          <li class="list-group-item d-flex justify-content-between">
            <p class="w-25 mx-1">{{ task.title }}</p>
            <p class="w-25 mx-1">{{ task.ideal_participant }}</p>
            <p class="w-25 mx-1">$ {{ task.reward_amount }}</p>
            <p class="w-25 mx-1">Ended {{ task.end_date }}</p>
          </li>
          {% endfor %}
        {% else %}
          <li class="list-group-item">You currently have no completed tasks!</li>
        {% endif %}
      </ul>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
{% else %}
<div class="container d-flex h-100">
  <div class="row m-auto">
    <p>You must be an authorized requester in order to access this page.</p>
  </div>
</div>
{% endif %}
{% endblock %}
