{% extends 'base.html' %}

{% block content %}
{% if user.authorized_requester %}
<div class="container-fluid py-5">
  <div class="row justify-content-center">
    <div class="col-sm-3"></div>
    <div class="col-sm">
      <ul class="list-group list-group-flush">
        <h3>Pending tasks</h3>
        {% if pending %}
          {% for pending_task in pending %}
            <li class="list-group-item d-flex justify-content-between">
              <p>{{ pending_task.task.title }}</p>
              <p>Ends {{ pending_task.task.end_date }}</p>
            </li>
          {% endfor %}
        {% else %}
            <li class="list-group-item">You currently have no pending task!</li>
        {% endif %}
      </ul>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-3"></div>
    <div class="col-sm">
      <ul class="list-group list-group-flush">
        <h3>Active tasks</h3>
        {% if active %}
          {% for active_task in active %}
          <li class="list-group-item d-flex justify-content-between">
            <p>{{ active_task.task.title }}</p>
            <p>Ends {{ active_task.task.end_date }}</p>
          </li>
          {% endfor %}
        {% else %}
          <li class="list-group-item">You currently have no active task!</li>
        {% endif %}
      </ul>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-3"></div>
    <div class="col-sm">
      <ul class="list-group list-group-flush">
        <h3>Completed tasks</h3>
        {% if completed %}
          {% for completed_task in completed %}
          <li class="list-group-item d-flex justify-content-between">
            <p>{{ completed_task.task.title }}</p>
            <p>Ended {{ completed_task.task.end_date }}</p>
          </li>
          {% endfor %}
        {% else %}
          <li class="list-group-item">You currently have no completed task!</li>
        {% endif %}
      </ul>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
{% else %}
<div class="container d-flex h-100">
  <div class="row m-auto">
    <p>You must be authorized to request a job in order to use this page</p>
  </div>
</div>
{% endif %}
{% endblock %}
