{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Mines Crowdsourcing</title>
    </head>
    <body class="d-flex flex-column">
      <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
        <a class="navbar-brand w-100" href="#">Mines Crowdsourcing</a>
        <div class="collapse navbar-collapse flex-grow-1 text-righ">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Participate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Request</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Account</a>
            </li>
          </ul>
        </div>
      </nav>


      {% block content %}{% endblock %}

      <div class="mt-3 py-4 text-center"> © 2019 Mines Crowdsourcing Team </div>

      {% block scripts %}{% endblock %}
    </body>
</html>
