/*
Add custom coloring to navbar and footer.
 */

.nav-custom{
background: -webkit-linear-gradient(to right, #2240c4, #070000, #2240c4);
background: linear-gradient(to right, #2240c4, #070000, #2240c4);
}

.dropdown-menu {
    background: #eceded;
}

.footer-text-custom {
    color: #7a9c97;
}
