{% extends 'base.html' %}

{% block content %}
{% if user.authorized_requester %}
<div class="container-fluid py-5">
  <div class="row justify-content-center">
    <div class="col-sm-2"></div>
    <div class="col-sm">
      <ul class="list-group list-group-flush">
        <h3 class="pt-5">Pending tasks</h3>
        {% if pending %}
          {% include "./list.html" with tasks=pending %}
        {% else %}
            <li class="list-group-item">You currently have no pending tasks!</li>
        {% endif %}
      </ul>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-2"></div>
    <div class="col-sm">
      <ul class="list-group list-group-flush">
        <h3 class="pt-5">Active tasks</h3>
        {% if active %}
          {% include "./list.html" with tasks=active %}
        {% else %}
          <li class="list-group-item">You currently have no active tasks!</li>
        {% endif %}
      </ul>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-2"></div>
    <div class="col-sm">
      <ul class="list-group list-group-flush">
        <h3 class="pt-5">Completed tasks</h3>
        {% if completed %}
          {% include "./list.html" with tasks=completed %}
        {% else %}
          <li class="list-group-item">You currently have no completed tasks!</li>
        {% endif %}
      </ul>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-2"></div>
    <div class="col-sm">
      <ul class="list-group list-group-flush">
        <h3 class="pt-5">Task Statistics</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Number of Completed Tasks</th>
                    <th scope="col">Percent Complete</th>
                    <th scope="col">Reward Amount</th>
                    <th scope="col">Total Paid</th>
                </tr>
            </thead>
            <tbody>
                {% for task in task_data %}
                    <tr>
                        <th scope="row">{{ task.title }}</th>
                        <td>{{ task.num_completed }}</td>
                        <td>{{ task.percent_complete }}%</td>
                        <td>${{ task.reward_amount }}</td>
                        <td>${{ task.total_paid }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

      </ul>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
{% else %}
<div class="container d-flex h-100">
  <div class="row m-auto">
    <h2>You must be an authorized requester in order to access this page.</h2>
  </div>
</div>
{% endif %}
{% endblock %}
